[Unit]
Description=OMERO thumbnail microservice server

[Service]
Type=simple
#Environment="JAVA_OPTS=-Dlogback.configurationFile=/path/to/omero-ms-thumbnail/logback.xml"
WorkingDirectory=/path/to/omero-ms-thumbnail
ExecStart=/path/to/omero-ms-thumbnail/bin/omero-ms-thumbnail -conf conf.json
User=omero
Group=omero
Restart=no

[Install]
WantedBy=multi-user.target
