---
name: Gradle

on:
  push:
  pull_request:

jobs:
  build:
    permissions:
      contents: read
    strategy:
      matrix:
        java: [8, 11, 17, 21]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Run commands
        run: |
          ./gradlew build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: omero-ms-thumbnail ${{ matrix.java }}
          path: build/distributions/*
  release:
    permissions:
      contents: write
    if: startsWith(github.ref, 'refs/tags')
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Download artifacts from build
        uses: actions/download-artifact@v4
        with:
          name: omero-ms-thumbnail 11
      - name: List artifacts
        run: ls -R
      - name: Create a GitHub release
        run: gh release create --generate-notes "${GITHUB_REF#refs/tags/}" omero-ms-thumbnail-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
